In [4]:
import os
import sys

In [6]:
##
os.chdir('../../..')

del(sys.path[0])
sys.path.insert(0, os.getcwd())
##

In [7]:
print(os.getcwd())
print(sys.path)

/home/artem/Desktop/programming/project_Yandex/project
['/home/artem/Desktop/programming/project_Yandex/project', '/home/artem/anaconda3/lib/python38.zip', '/home/artem/anaconda3/lib/python3.8', '/home/artem/anaconda3/lib/python3.8/lib-dynload', '', '/home/artem/anaconda3/lib/python3.8/site-packages', '/home/artem/anaconda3/lib/python3.8/site-packages/IPython/extensions', '/home/artem/.ipython']

### Main

In [78]:
import pandas as pd
import numpy as np
from sklearn.metrics import precision_score, recall_score

In [79]:
df = pd.read_csv('model/Paragraphs/data_analysis/data/dates.csv')

In [80]:
df

       is_Date   day  month  year  first_in_paros  is_First
0        False   NaN    NaN   NaN            True      True
1        False   NaN    NaN   NaN            True     False
2        False   NaN    NaN   NaN           False     False
3        False   NaN    NaN   NaN            True     False
4        False   NaN    NaN   NaN            True     False
...        ...   ...    ...   ...             ...       ...
44289     True   0.0    NaN   NaN            True     False
44290     True   0.0    NaN   NaN           False     False
44291     True   1.0    NaN   NaN           False     False
44292     True  12.0    8.0   NaN            True      True
44293     True  13.0    8.0   NaN            True      True

[44294 rows x 6 columns]

In [81]:
df['first_in_paros'].value_counts()

True     33146
False    11148
Name: first_in_paros, dtype: int64

In [82]:
df = df[df['first_in_paros']].reset_index(drop=True)

In [83]:
df[df['is_First']]['is_Date'].value_counts(normalize=True)

True     0.936247
False    0.063753
Name: is_Date, dtype: float64

We can count that all pararaphs start with Date.

In [12]:
pd.isna(df.at[0, 'day'])

True

In [84]:
df

       is_Date   day  month    year  first_in_paros  is_First
0        False   NaN    NaN     NaN            True      True
1        False   NaN    NaN     NaN            True     False
2        False   NaN    NaN     NaN            True     False
3        False   NaN    NaN     NaN            True     False
4         True   NaN    NaN  1961.0            True     False
...        ...   ...    ...     ...             ...       ...
33141     True  -1.0    NaN     NaN            True     False
33142    False   NaN    NaN     NaN            True     False
33143     True   0.0    NaN     NaN            True     False
33144     True  12.0    8.0     NaN            True      True
33145     True  13.0    8.0     NaN            True      True

[33146 rows x 6 columns]

In [85]:
df['date'] = [0 for i in range(df.shape[0])]

for i in range(df.shape[0]):
    df.at[i, 'date'] += (0 if pd.isna(df.at[i, 'day']) else 1)
    df.at[i, 'date'] += (0 if pd.isna(df.at[i, 'month']) else 1) * 2
    df.at[i, 'date'] += (0 if pd.isna(df.at[i, 'year']) else 1) * 4

In [86]:
df['date'].value_counts(normalize=True)

4    0.290171
3    0.207808
1    0.169704
7    0.105654
0    0.099379
6    0.085591
2    0.040548
5    0.001146
Name: date, dtype: float64

In [87]:
df['date'].value_counts()

4    9618
3    6888
1    5625
7    3502
0    3294
6    2837
2    1344
5      38
Name: date, dtype: int64

In [69]:
df.dtypes

is_Date            object
day               float64
month             float64
year              float64
first_in_paros     object
is_First           object
date              float64
dtype: object

In [88]:
for k in range(8):
    Y_ans = [df.at[i, 'date'] == k for i in range(df.shape[0])]
    print(k)
    print('precision: ', precision_score(list(df['is_First']), Y_ans))
    print('recall: ', recall_score(list(df['is_First']), Y_ans))

0
precision:  0.3600485731633273
recall:  0.08227540756156781
1
precision:  0.19164444444444445
recall:  0.07478321193201526
2
precision:  0.35267857142857145
recall:  0.032882414151925075
3
precision:  0.7261904761904762
recall:  0.3469996531390912
4
precision:  0.34809731752963197
recall:  0.23225806451612904
5
precision:  0.7894736842105263
recall:  0.002081165452653486
6
precision:  0.4356714839619316
recall:  0.08574401664932361
7
precision:  0.5885208452312964
recall:  0.14297606659729448

In [17]:
df['is_First'].value_counts(normalize=True)

False    0.674561
True     0.325439
Name: is_First, dtype: float64

In [18]:
Y_ans = [(df.at[i, 'date'] == 3 or df.at[i, 'date'] == 4) for i in range(df.shape[0])]
print('precision: ', precision_score(list(df['is_First']), Y_ans))
print('recall: ', recall_score(list(df['is_First']), Y_ans))

precision:  0.3807743171143235
recall:  0.5792577176552203

In [27]:
st = pd.crosstab([Y_ans], [np.array(df['is_First'])], rownames=['Ans'], colnames=['True'])

In [28]:
st

True   False  True
Ans
False  16300   6065
True   13579   8350

pandas.core.frame.DataFrame

In [37]:
TN = (st.at[False, False] / (st.at[False, False] + st.at[True, False])) * 100
TP = (st.at[True, True] / (st.at[True, True] + st.at[True, False])) * 100

In [39]:
print(TN)
print(TP)

54.553365239800534
38.077431711432354